<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ONLINE ORDER FORM</title>
<style>
    table,
    th,
    td {
padding:10px;
border : 1px solid black;
border-collapse: collapse;
}
td {
text-align : center;
}
</style>
</head>
{% block content %}
{% load static %}
<body style="background-image:url('{% static 'img_2.png' %}'); background-repeat:no-repeat;background-size:100%;">
<h1 style="text-align: center;border-collapse: collapse;border: 2px solid black;font-family: cursive;color: darkblue;font-size: xx-large;">ONLINE ORDERS</h1>
<a href = "homea" >GO TO DASHBOARD</a>
<form action = "onappro" method = "POST">{% csrf_token %}</form>
<table style="width:100%;margin-right:auto;margin-left:auto;margin-top:50px;">
<tr>
<th>NAME </th>
<th>ADDRESS</th>
<th>CITY</th>
<th>PHONE</th>
<th>MAIL</th>
<th>ITEM</th>
<th>MODEL</th>
<th>CARD NUMBER</th>
<th>STATUS</th>
</tr>
{% for i in all %}
<tr>
<td>{{i.name}}</td>
<td>{{i.address}}</td>
<td>{{i.city}}</td>
<td>{{i.ph}}</td>
<td>{{i.mail}}</td>
<td>{{i.item}}</td>
<td>{{i.imo}}</td>
<td>{{i.credit}}</td>
    <td>

         <h2>PAYMENT CONFIRMED</h2>
    </td>
</tr>
    {% endfor %}
</table>
</body>
</html>
{% endblock %}