<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OTP VERIFICATION</title>
</head>
{% block content %}
{% load static %}
<body style="background-image:url('{% static 'img_2.png' %}'); background-repeat:no-repeat;background-size:100%;">
<h1 style="text-align: center;border-collapse: collapse;border: 2px solid black;font-family: cursive;color: darkblue;
                                    font-size: xx-large;">OTP VERIFICATION</h1>
<center>
<form action="send" method="POST">{% csrf_token %}
    MAIL ID<br><br><input type="text" name="email"><br><br>
    <input type="submit" value="SEND OTP" style="background-color:green;color:white;width:150px;height:30px;">
</form>
    <div>
        {% for message in messages %}
        <h3> {{message}} </h3>
        {% endfor %}
    </div>

    <form action="verify" method = "POST">{% csrf_token %}
        <br>ENTER OTP <br><br><input type = "text" name = "otpcheck"><br><br>
        <input type = "submit" value = "VERIFY" formtarget="_parent" style="background-color:green;
                             color:white;width:150px;height:30px;">
    </form>
</center>
</body>
</html>
{% endblock %}