<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TELEVISION</title>
</head>
{% block content %}
{% load static %}
<body style="background-image:url('{% static 'img_2.png' %}'); background-repeat:no-repeat;background-size:125%;">
<h1 style="text-align: center;border-collapse: collapse;border: 2px solid black;font-family: cursive;font-size: xx-large;">TELEVISIONS</h1>
<form action="buy" method ="POST">{% csrf_token %}
<table style="width:100%;border-style:solid;margin-right:auto;margin-left:auto;margin-top:50px;">
		<tr>
			<th><h2>MODEL</h2></th>
			<th><h2>SPECIFICATIONS</h2></th>
			<th><h2>CONFIRM</h2></th>
			</tr>
			<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
			<tr>
				<td><center><img src = "{% static 'sony tv.png' %}"height="200" width="170"></center></td>
				<td> <center> BRAND-SONY MODEL - 1XA <br>Zones of LEDs lit or dimmed independently for realistic brightness and shadow detail<br>
					Cognitive Processor understands how humans see and hear for true immersion<br>
Sound in harmony with picture for an immersive experience<br>
Multi-position stand for versatile TV placement<br>
Rs - 100000<br>
1 week delivery time </center></td>
<td><center><input type="submit" value="BUY NOW" formtarget="_blank" style="background-color:green;color:white;
                                                 width:80px;height:30px;"></center></td>
</tr>
	<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
	<tr>
	<td><center><img src = "{% static 'lg.PNG' %}"height="100" width="150"></center></td>
	<td> <center> BRAND-LG MODEL-1XB<br>Self-lighting OLED<br> Perfect Black, Intense Color, Infinite Contrast<br>
a7 Gen 4 AI Processor 4K with AI Picture & AI Sound<br>
Dolby Vision IQ, Dolby Atmos & Filmmaker Mode<br>
WebOS & AI ThinQ™ w/ New Magic Remote<br>
Game Optimizer, HGiG, ALLM<br>
Eye Comfort Display<br>
price - Rs 80000<br>
1 week delivery time</center></td>
<td><center><input type="submit" value="BUY NOW" formtarget="_blank"style="background-color:green;color:white;
                                            width:80px;height:30px;"></center></td>
</tr><br>
	<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
<tr>
	<td><center><img src = "{% static 'samsung.PNG' %}"height="100" width="150"></center></td>
	<td> <center> BRAND-SAMSUNG MODEL-1XC<br>Wide Color Enhancer<br>
20W Sound<br>
Triple Protection<br>
Rs - 16000<br>
1 week delivery time</center></td>
<td><center><input type="submit" value="BUY NOW" formtarget="_blank" style="background-color:green;color:white;
                 width:80px;height:30px;"></center></td>
</tr>
</table>
</form>
</body>
</html>
{% endblock %}